<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>Maddy has added content to your student page.  To view it please click on the link below to sign in.</p>

    <p><%= link_to 'Sign In', @url %></p>

    <p>Happy practicing!</p>
    <p>Maddy Moses</p>
  </body>
</html>