<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Maddy's Music!</h1>
    <p>
      You have successfully updated your e-mailaddress.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p></br>
    <p> Maddy Moses </p>
  </body>
</html>