 <% if current_user.try(:admin?) %>

<p id="notice"></p>

<%= @comment.name %>
<%= @comment.body %>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>

<% end %>