<% @title="Maddy's Music | Piano Lessons | Flute Lessons | Voice Lessons | Salt Lake City" %>
<% content_for :description, 'Private piano lessons, flute lessons and voice lessons for students of all ages in Salt Lake City, UT' %>

<div id="logo" class="well well-small">
	<h2>
		<%= image_tag("LOGO.jpg") %>
	</h2>
</div>


	</br>
<% if false %>
	<div class="marquee">
		<marquee behavior="alternate" direction="left">Congratulations to everyone that participated in the Spring Recital.  You all did great!</marquee>
	</div>
<% end %>

<div class="well well-small">
	<p>Thank you for your interest in Maddy's Music, offering in-home and Skype piano lessons, flute lessons and voice lessons in Salt Lake City, Utah. 
	</p>	
	<p>
		We offer 30, 45 and 60 minute lessons on a weekly or bi-weekly basis.  You will also have the opportunity to perform in two annual recitals.
	</p>

</div>

<div id="myCarousel" class="carousel slide" style="width: 300px; margin: 0 auto">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<img src="images/Recital2.JPG" alt="Students happy to have had a successful Spring Recital." >
				<div class="carousel-caption">
					<h4>Spring '14 Recital</h4>
					
				</div>
			</div>
			<div class="item">
				<img src="images/Maddy_Students.jpg" alt="Maddy Teaching">
				<div class="carousel-caption">
					<h4>Teaching</h4>
					<p>Maddy Moses with two very attentive students.</p>
				</div>
			</div>
			<div class="item">
				<img src="images/Maddy_Snowbird.jpg" alt="Maddy performing at Snowbird" >
				<div class="carousel-caption">
					<h4>Snowbird Recital</h4>
					<p>Maddy Moses playing the piano at The Atrium's Sunday Brunch (July 7, 2013)</p>
				</div>
			</div>
			<div class="item">
				<img src="images/Maddy_Piano.jpg" alt="Maddy Moses" >
				<div class="carousel-caption">
					<h4>Maddy Moses</h4>
					<p></p>
				</div>
			</div>	
			
<% if false %>
			<div class="item">
				<img src="images/Liv" alt="Liv" >
				<div class="carousel-caption">
					<h4>Liv</h4>
					<p>Liv at Maddy's Music's Fall Recital</p>
				</div>
			</div>
			<div class="item">
				<img src="images/Denise" alt="Denise" >
				<div class="carousel-caption">
					<h4>Denise</h4>
					<p>Denise at Maddy's Music's Fall Recital</p>
				</div>
			</div>
			<div class="item">
				<img src="images/Callie" alt="Callie" >
				<div class="carousel-caption">
					<h4>Callie</h4>
					<p>Callie at Maddy's Music's Fall Recital</p>
				</div>
			</div>
<% end %>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
	</div>

</br>

<% if user_signed_in? %>
	<%= link_to 'Post Review', new_review_path %>
<% end %>
