<div class="hero-unit">
  <h1><span style="font-weight: normal; font-size:50px; ">
    About Me... 
  </h1>
</div>


	<div class="row">
  	<div class="span4">
			<%= image_tag("Maddy.jpg", :size => "260x180") %>
  	</div>
    <div class="span8">
      <div class="well">
        <p>
      	I am lucky enough to have lived all over the world.  I come from England, but grew up in South Africa.  Recently I spent a number of winter seasons living and skiing in New Zealand before I came to the States.
        <br>
        <br>
        I have over 20 years performing experience and 10 years teaching experience.  Currently I am playing keys and singing in a band, but in the past I have conducted and played in many different musical groups, including choirs, orchestras, jazz bands and musicals.  I can play piano, bass guitar , flute and sing.  I once sang in a choir for Miss Universe!  I love to teach!  My teaching experience ranges from school classrooms to private pupils and everything in between.  These experiences, plus learning music in other countries, have given me versatility, which I consider an essential quality of a music teacher.
     
        <br>
        <br>
        I started learning my first instrument when I was 6,  but it wasn't until my early teens that I started tinkering on the piano. The first piece I ever learned was a ragtime no: The Entertainer from the movie The Sting.  Not only was it upbeat and fun to play, but gave me a great sense of achievement.  After that I was hooked.  I learned piano all the way through to University level, where I studied music history, theory (written music) and performance.  Here I was taught to play and accompany others at a high level.  I then went on to study music education at postgraduate level, where I learned about music education techniques and different learning styles.
        </p>
      </div>
    </div>



	

