<div id="logo" class="well well-small">
  <h2>
    <%= image_tag("LOGO.jpg") %>
  </h2>
</div>


	<div class="row">
  	<div class="span3">
			<%= image_tag("Maddy.jpg", :size => "280x200") %>
  	</div>
    <div class="span9">
      <div class="well">
        <h1>About Me</h1>
        <h3>Bio</h3>
          <p>
        	   I am lucky enough to have lived all over the world.  I come from England, but spent much of my childhood in South Africa.  I recently spent a number of winter seasons living and skiing in New Zealand before moving to Utah.
          <br/>
          <br/>
            I started learning my first instrument when I was 6,  but it wasn't until my early teens that I started tinkering on the piano.  The first piece I ever learned was <i>The Entertainer</i> from the movie The Sting.  Not only was it upbeat and fun to play, but it also gave me a great sense of achievement - after that I was hooked.  I studied the piano all the way through the University level where I studied music history, theory (written music), performance and psychoacoustics.  I then went on to study music education at a postgraduate level, where I learned about music education techniques and different learning styles.
          </p>
        <h3>Credentials</h3>
          <ul>
            <li>Over 20 years performing experience and 10 years teaching experience</li>
            <li>I play the piano, flute, bass guitar and sing</li>
            <li>My teaching experience ranges from school classrooms to private pupils, and everything in between</li>
            <li>Bachelor of Music Degree from Lancaster University, UK</li>
            <li>Postgraduate Certificate of Music Education</li>
            <li>Trained in piano and flute through the Royal School of Music Association</li>
          </ul>
        <h3>Sample Music</h3>
          <ul>
            <li> <p>Adagio Sonata No.1, Muzio Clementi (Snowbird Recital, 7/7/2013)</p>
              <audio src="/audios/Snowbird_Clementi.mp3" controls title="Adagio Sonata No.1, Muzio Clementi"> </li>
            <li> <p>Clair De Lune, Debussy (Snowbird Recital, 7/7/2013)</p>
              <audio src="/audios/Snowbird_ClairDeLune.mp3" controls title="Clair De Lune"> </li>
          </ul>

          

      </div>
    </div>



	

