<div class="hero-unit">
	<h1> About Me </h1>
</div>

<p> 
	<div class="row">
  	<div class="span4">
			<%= image_tag("Maddy.jpg", :size => "260x180") %>
  	</div>
  <div class="span8">
  	Hi, my name is Maddy Devitt.  I am originally from Norwich, England, but have spent the last few years traveling around.  Though I have studied music in England, my passion for skiing has taken me to New Zealand, and currently Salt Lake City, Utah.  Though skiing has been my main focus for the past few years, I still enjoy teaching and performing music.  I currently teach piano, flute and voice.
  </div>
</div>


	

</p>