<% @title="Maddy's Music | Contact Me " %>
<% content_for :description, 'Contact Maddy to learn more about private piano lessons, flute lessons and voice lessons in Salt Lake City.' %>


<div id="logo" class="well well-small">
	<h2>
		<%= image_tag("LOGO.jpg") %>
	</h2>
</div>	

<div class="well">
	<h1>Contact Me</h1>
	<br/>
	<p>
		Please contact Maddy Moses with any questions or to discuss availability.
	</p>
	
	<ul>
		<li>Send me a message <%= link_to "here", new_inquiry_path %></li>
		<li>Call or text me at 801-913-7802</li>
		<li>Check out my new <%= link_to "blog!", "http://www.maddysmusicinc.blogspot.com", :target => '_blank'  %></li>
	</ul>

	<div class="fb-like-box" data-href="https://www.facebook.com/MaddysMusic" data-width="292" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
</div>