<div id="logo" class="well well-small">
	<h2>
		<%= image_tag("LOGO.jpg") %>
	</h2>
</div>	

<div class="well">
	<h1>Contact Me</h1>
	<br/>
	<ul>
		<li>Find me on Facebook <%= link_to "here", "https://www.facebook.com/MaddysMusic", :target => '_blank' %></li> 
		<li>E-mail me at maddymoses13@hotmail.com</li>
	</ul>
</div>