<div id="logo" class="well well-small">
	<h2>
		<%= image_tag("LOGO.jpg") %>
	</h2>
</div>	

<div class="well">
	<h1>Contact Me</h1>
	<br/>
	<p>
		Please contact Maddy Moses with any questions or to discuss availability.
	</p>
	
	<ul>
		<li>Send me a message <%= link_to "here", new_inquiry_path %></li>
		<li>Call or text me at 646-982-6937</li>
		<li>Find me on Facebook <%= link_to "here", "https://www.facebook.com/MaddysMusic", :target => '_blank' %></li> 
		
	</ul>
</div>