<div id="logo" class="well well-small">
	<h2>
		<%= image_tag("LOGO.jpg") %>
	</h2>
</div>

<div class="well well-small">
	<p>Thank you for your interest in Maddy's Music, offering in-home piano lessons, flute lessons and voice lessons in Salt Lake City, Utah. 
	</p>	
	<p>
		We offer 30, 45 and 60 minute lessons on a weekly or bi-weekly basis.  You will also have the opportunity to perform in two annual recitals.
	</p>
</div>

<div id="container" class="js-masonry" data-masonry-options='{"itemSelector": ".box" }'>
		<div class="box">
			<p>"My daughter is enjoying [her] piano lessons very much.  Maddy is knowledgeable, easy-going and encouraging."</p>
		</div>
		<div class="box">
			<p>"Madeleine is a wonderful teacher, she makes it fun to play the piano."</p>
		</div>
		<div class="box">
			<p>"Maddy is very informative, knowledgeable, patient, and fun. I've had other voice and music teachers, but she is by far the best."</p>
		</div>
		<div class="box">
			<p>"Katie has been going to lessons with [Maddy] for about a month now, and is really seeing progress!  Thank you for your suggestion about the theory books. Katie says they are very helpful. Katie really looks forward to her lessons with you on Mondays! Thank you for everything!"</p>
			<p>-Mom</p>
		</div>
		<div class="box">
			<p>"Maddy is a very pleasant person, with the skills and knowledge that will help me learn to play the piano."</p>
		</div>
</div>
	


<% if false %>
	<div class="row">
	  <div class="span6">
			<div class="box">
				<p>"My daughter is enjoying [her] piano lessons very much.  Maddy is knowledgeable, easy-going and encouraging."</p>
			</div>
			<div class="box">
				<p>"Madeleine is a wonderful teacher, she makes it fun to play the piano."</p>
			</div>
			<div class="box">
				<p>"Maddy is very informative, knowledgeable, patient, and fun. I've had other voice and music teachers, but she is by far the best."</p>
			</div>
		</div>
		
		<div class="span6">
			<div class="box">
				<p>"Katie has been going to lessons with [Maddy] for about a month now, and is really seeing progress!  Thank you for your suggestion about the theory books. Katie says they are very helpful. Katie really looks forward to her lessons with you on Mondays! Thank you for everything!"</p>
				<p>-Mom</p>
			</div>
			<div class="box">
				<p>"Maddy is a very pleasant person, with the skills and knowledge that will help me learn to play the piano."</p>
			</div>
		</div>
	</div>
	
<% end %>
