<div id="logo" class="well well-small">
	<h2>
		<%= image_tag("LOGO.jpg") %>
	</h2>
</div>

<div class="well">
	<h1>My Philosophy</h1>
	<br/>
	<p> 
		<i>"True teachers are those who use themselves as bridges over which they invite their students to cross; … then joyfully collapse, encouraging them to create their own."</i> <br>  -Nikos Kazantzakis
 <br>
 <br>
		Learning to play an instrument and read music requires discipline, hard work and motivation.  My goal is to build upon your desire to learn to allow you to reach your goals.  In this way lessons are individualized, goal-oriented and tailored to each student's unique needs.
  <br>
  <br>
		I love teaching because it gives me the opportunity to meet lot of different people and share something I’m passionate about with them.  It also allows me to be creative in creating a lesson to best suit your learning style.   
	<br>
  <br>
		I want to provide you or your child with a strong foundation for success with your instrument.  A good foundation requires good technique.  This is achieved through scales and exercises.  A good foundation also includes study of theory and harmony.  Reading music is important to becoming a self-sufficient musician, but the study of theory also allows you to understand how music is put together and can lead to your own expressions through composition.  
	<br>
  <br>
		Twice a year I also provide an opportunity to perform in front of your peers.  These are optional, but are a great way to showcase your achievements.  There may also be opportunities to take part in local competitions and jam with each other.  The sky is the limit!
		<br>
  <br>
  	*Please see Parent Leaflet on the Resources Page for more information.
	</p>
</div>