<div class="hero-unit">
	<h1> <span style="font-weight: normal; font-size:50px; ">  My Teaching Philosophy is... </h1>
</div>

<div class="well">
	<p> 
		Music lessons are about you, not me.  They should be fun.  Your musical experience, your likes, and your goals will all be mixed together to create a lesson that is right for you.  I am interested in teaching you what you like to learn every step of the way, whether it is Pop, Classical, Ragtime, Blues and/or Jazz.  Lessons will be energizing and packed with information.  You will be working from a main method book which will introduce musical concepts, learning pieces that apply these concepts, and a theory book, which teaches you about music as a language.  I can also bring a fresh and unique perspective to the lesson, drawing upon learning practices from the UK and South Africa.   Whether you are 5 or 65, you can start building your skills and start playing all types of music.
 <br>
 <br>
		I predominantly use a traditional piano teaching method although I am familiar with both the Suzuki method and the Kodaly singing method.
	<br>
  <br>
		I am classically trained but I can teach most styles/genres, particularly jazz, blues, ragtime and pop.  I can also teach keyboard.  
	</p>
<div/>



