<div id="logo" class="well well-small">
	<h2>
		<%= image_tag("LOGO.jpg") %>
	</h2>
</div>

<div class="well">
	<h1>My Philosophy</h1>
	<br/>
	<p> 
		<i>"True teachers are those who use themselves as bridges over which they invite their students to cross; … then joyfully collapse, encouraging them to create their own."</i> <br>  -Nikos Kazantzakis
 <br>
 <br>
		Learning to play an instrument and read music requires discipline, hard work and motivation.  I want to take your desire to learn and motivate you to succeed with your goals.  In this way lessons are individualized, goal-oriented and every lesson is different.   
	<br>
  <br>
		I love teaching because it gives me the opportunity to meet lot of different people and share something I’m passionate about with them.  I also get the opportunity to be creative in the approach I use that will best suit your learning style.   
	<br>
  <br>
		I want to provide you or your child with a great foundation for success with your instrument.  A good foundation requires study of good technique.  This is achieved through scales and exercises to strengthen the apparatus needed to play fluently.   A good foundation also includes study of theory and harmony.  Reading music is important to becoming a self-sufficient musician, but the study of theory also allows you to understand how music is put together and can lead to your own expressions through composition.  
	<br>
  <br>
		I also provide opportunities to perform in front of your peers.  These are optional but a great way to showcase your achievements.  There may also be opportunities to take part in local competitions and jam with each other.  The sky is the limit!! 
	</p>
</div>