<% @title="Maddy's Music | Payment " %>

<div id="logo" class="well well-small">
	<h2>
		<%= image_tag("LOGO.jpg") %>
	</h2>
</div>

<div class="well">
	<h1>Payment Page</h1>
	<ul>
		<li>.5 hr Skype Lesson <script src='assets/paypal-button.min.js/?merchant=TF3CUUVND9NSA'
		    data-button="buynow" 
		    data-name=".5hr Skype Lesson" 
		    data-amount="20.00" 
		    data-currency="USD" 
		    data-env="sandbox"></script>
		</li>
		<li>1 hr Skype Lesson<script src='assets/paypal-button.min.js/?merchant=TF3CUUVND9NSA' 
		    data-button="buynow" 
		    data-name="1 hr Skype Lesson" 
		    data-amount="35.00" 
		    data-currency="USD" 
		    data-env="sandbox"></script>
		</li>
	</ul>
</div>
