<div id="logo" class="well well-small">
	<h2>
		<%= image_tag("LOGO.jpg") %>
	</h2>
</div>

<div class="well">
	<h1>Resources</h1>
	<ul><li><a href="/newparentleaflet.pdf" target="_blank">New Parent Leaflet</a> </li></ul>
	<h3>
		Websites
	</h3>
	<ul>
		<li><%= link_to "Free Flute Tunes", "http://www.flutetunes.com", :target => '_blank'  %>.  Also has printable manuscript paper. </li>
		<li><%= link_to "Great vocal warm-ups", "http://www.aussievocalcoach.com" , :target => '_blank' %> for beginner to intermediate singers. </li>
		<li><%= link_to "musicnotes.com", "http://www.musicnotes.com", :target => '_blank'  %>, downloadable sheet music in different keys. </li>
	</ul>

	<h3>
		Recommended Books
	</h3>
	<ul>
		<li>The Faber and Faber Series for Young Beginners</li>
		<li>Hal Leonard Harmony and Theory</li>
	</ul>

	<h3>
		Recommended Articles
	</h3>
	<ul>
		<li></li>
		<li></li>
</div>