$baseFontFamily: IM Fell French Canon, serif;
@import url(http://fonts.googleapis.com/css?family=IM+Fell+French+Canon);

$navbarLinkColor: Purple;



@import 'bootstrap';

title {
	font-size: small;
}

body {
	font-family: 'Patrick Hand SC', cursive;
	padding-top: 60px;
  background-image: url('Background.jpg');
  font-color: purple;
}

@import 'bootstrap-responsive';

.footer {
	margin-top: 100px;
  color: Purple;
 }

h2 {
  text-align: left;
}

.hero-unit h1{
  color: rgba(136,235,3,1);
}


p {
 color: purple;
}
 

.hero-unit {
   padding: 50px;
  margin-bottom: 10px;  
  background-repeat: no-repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 20px;
  background-size: contain;
  background-color: rgba(70,7,179,.7);
  text-align: center;
  font-color: purple;
  }

h1 {
    font-color: Purple;
  }