<%= render 'pages/payment' %>
  
<table class="table table-striped" >
  <thead>
    
      <th>Product</th>
      <th style="text-align:center; vertical-align:middle" >Description</th>
      <th style="text-align:center; vertical-align:middle" >Price Per Lesson (USD)</th>
      <th style="text-align:center; vertical-align:middle" >Total Price (USD)</th>
      <th style="text-align:center; vertical-align:middle" ></th>
      
      <% if current_user.try(:admin?) %>
	      <th>Edit</th>
	      <th>Delete</th>
			<% end %>
    </thead>
    
    <tbody>
      <%= render @products %>
    </tbody>
</table>