<% @reviews.each do |review| %>
	<div class="box">
		<p>"<%= review.review %>"
			<% if review.name? %>
				</br>-<%= review.name %></br>
			<% end %>
	 		<% if current_user.try(:admin?) %>
	 			<%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
		 		<% end %>
		</p>
	</div>
<% end %>


